<a href="/users/index">List</a>
<h2>User Create form</h2>
<form action="/users/create" method=”POST”>
<table>

<tr><td>FirstName<td><input type="text" name="User[fName]"><br/>

<tr><td>LastName<td><input type="text" name="User[lName]"><br/>
<tr><td>DOB<td><input type="text" name="User[dob]"><br/>

<tr><td>UserName<td><input type="text" name="User[userName]"><br/>

<tr><td>Password<td><input type="text" name="User[password]"><br/>

<tr><td>Email<td><input type=”text” name="User[email]"><br/>
<tr ><td><td><input type="submit" value="ADD">
</form>